{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div id="list-main" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <h1 class="h1">Список изображений</h1>
    <hr/>
    <div class="col-md-8">
      {% for img in image_list %}
        <div class="row justify-content-between">
          <a href="{{ img.get_absolute_url }}">{{ img.image_hash }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}